{
  "REACT_APP_AWS_REGION": "us-west-2",
  "REACT_APP_AGENT_RUNTIME_ARN": "arn:aws:bedrock-agentcore:us-west-2:YOUR_AWS_ACCOUNT_ID:runtime/YOUR_RUNTIME_NAME",
  "REACT_APP_QUALIFIER": "DEFAULT",
  "REACT_APP_LAMBDA_FUNCTION_ARN": "arn:aws:lambda:ap-northeast-2:YOUR_AWS_ACCOUNT_ID:function:lambda-robo-controller-for-robo",
  "REACT_APP_LAMBDA_REGION": "ap-northeast-2"
}

